[submodule "packages/koatty"]
	path = packages/koatty
	url = https://github.com/thinkkoa/koatty.git
[submodule "packages/test-submodule"]
	path = packages/test-submodule
	url = https://github.com/thinkkoa/koatty_container.git
[submodule "packages/koatty-container"]
	path = packages/koatty-container
	url = https://github.com/thinkkoa/koatty_container.git
